<div ng-controller="adminList" >
    <button class="btn btn-info" ng-show="_edit" ng-click="add(admin)">添加</button>
    <button class="btn btn-info" ng-hide="_edit" ng-click="edit()">添加</button>
    <div ng-show="_edit">
        <dl class="dl-horizontal">
            <dt>用户名</dt>
            <dd>
                <input ng-blur="check(admin.aname)" type="text" placeholder="用户名" ng-model="admin.aname" >
                <span>{{result}}</span>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>密码</dt>
            <dd><input type="password" placeholder="密码" ng-model="admin.password" ></dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>再一次密码</dt>
            <dd>
                <input type="password" placeholder="密码" ng-model="admin.Rpassword" >
                <span ng-show="admin.password != admin.Rpassword">密码不一致</span>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>真实姓名</dt>
            <dd><input type="text" placeholder="真实姓名" ng-model="admin.realname" ></dd>
        </dl>
    </div>
	<table class="table table-bordered" style="margin-top:5px;">
  		<tr>
            <th>#</th>
            <th>用户名</th>
            <th>真实名称</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="admin in admins">
        	<th>{{$index}}</th>
        	<th>{{admin.aname}}</th>
        	<th>{{admin.realname}}</th>
        	<th>
        		<button class="btn btn-danger btn-mini" ng-click="_delete(admin.aid)" ng-disabled="admin.aid == 1" >删</button>
        	</th>
        </tr>
	</table>
</div>