.info-box{
	margin-top: 10px;
	color: #666;
	clear:both;
	font-weight: bolder;
}

.Cdetail {
	margin-top: 30px;
	padding-bottom: 12px;
	background: #fafafa;
}

.c_title{
	float: left;
	max-width: 440px;
	margin: -6px 0 10px 20px;
	padding: 6px 20px;
	color: #fff;
	background: #292e8a;
	font-size: 20px;
	line-height: 30px;
}

.c_title em{
	position: absolute;
	margin: -6px 0 0 -26px;
	width: 6px;
	height: 8px;
	background: url(../img/title_arrow.png) no-repeat;
}

.c_intro {
	padding: 15px;
	font-size: 15px;
	text-indent: 1em;
	line-height: 20px;
	word-wrap: break-word;
	clear:both;
}

.c_jobs{
	padding:10px;
	clear:both;
}

.c_job {
	margin: 20px ;
	padding: 10px;
	border-left: 4px solid #292e8a;
	background-color: #f6f6f6;
}