.list{
	list-style: none;
	margin-left: 0px;
	margin-top: 7px;
}

.list a{
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.state{
	color: #666;
	font-size: 13px;
	font-weight: bold;
	margin-top: 5px;
}

#footer{
	border-top: 2px solid #bce8f1;
}