<div ng-controller="resumeCtrl">

	<p class="text-center">已经完成 <strong>{{count}}</strong></p>
	
	<div class="progress">
	  	<div class="bar" style="width:{{count}}"></div>
	</div>

	<div class="row-fluid"  >

		<div ng-include="template.url" class="span9">
			
		</div>

		<div class="span3">
			<div class="alert">
				<table class="table table-bordered">
					<h3>简历步骤</h3>
					<tr ng-repeat="(key,value) in parts" >
						<td>
							<i class="fa fa-times-circle"></i>
						</td>
						<td class="item"><a href="" ng-click="setTemplate(key)">{{value}}</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>