<form ng-controller="personalInfo">

	<div class="row-fluid title">
		<div class="span6">
			<h4>个人基本信息</h4>
		</div>
		<div class="span6" ng-switch on="status">
			<button class="btn btn-info pull-right" ng-click="setStatus('edit')" ng-switch-when="normal">
				<i class="fa fa-pencil-square-o"></i>修改
			</button>
			<button class="btn btn-info pull-right" ng-click="save(StudentInfo)" ng-switch-when="edit">
				<i class="fa fa-floppy-o"></i>保存
			</button>
		</div>
	</div>
	<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>头像</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<div class="nailthumb-container" style="width:184px;height:196px" nailthumb>
					<img ng-src={{avtor}} class="img-rounded" />
				</div>
				<div id="uploadfile" class="span4" >
				  	<input type="file" ng-file-select="onFileSelect($files)" multiple />
				  	<div class="progress">
			  			<div class="bar" style="width:{{fileCount}}"></div>
					</div>
					<p>已经完成 {{fileCount}}</p>
				  	<button class="btn btn-mini" ng-click="upload.abort()">Cancel Upload</button>
			  	</div>
			</div>
		</div>
	<fieldset>
		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>姓名</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="姓名" ng-switch-when="edit" ng-model="StudentInfo.name" ng-value="StudentInfo.name">
				<p ng-switch-when="normal">{{StudentInfo.name}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>性别</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<select ng-switch-when="edit" ng-model="StudentInfo.sex" >
				  <option>男</option>
				  <option>女</option>
				  <option>等待更新</option>
				</select>
				<p ng-switch-when="normal">{{StudentInfo.sex}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>出生日期</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<datepicker ng-switch-when="edit" class="offset1" ng-model='StudentInfo.birth' disable-timepicker='true' icon-class="fa fa-calendar"></datepicker>
				<p ng-switch-when="normal">{{StudentInfo.birth}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>学历</strong></p>
			</div>
			<div class="span8 offset1"  ng-switch on="status">
				<select ng-model="StudentInfo.education" ng-switch-when="edit">
				  <option>高中</option>
				  <option>中专</option>
				  <option>大专</option>
				  <option>本科</option>
				  <option>研究生</option>
				  <option>博士</option>
				</select>
				<p ng-switch-when="normal">{{StudentInfo.education}}</p>
			</div>
		</div>


		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>证件类型</strong></p>
			</div>
			<div class="span8 offset1">
				<div ng-switch on="status">
					<select ng-model="StudentInfo.certificationType" ng-switch-when="edit">
					  <option>身份证</option>
					  <option>护照</option>
					  <option>驾照</option>
					</select>
					<p ng-switch-when="normal">{{StudentInfo.certificationType}}</p>
				</div>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>证件号码</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="居住地" ng-switch-when="edit" ng-value="StudentInfo.certificationNum" ng-model="StudentInfo.certificationNum">
				<p ng-switch-when="normal">{{StudentInfo.certificationNum}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>居住地</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="居住地" ng-switch-when="edit" ng-value="StudentInfo.location" ng-model="StudentInfo.location">
				<p ng-switch-when="normal">{{StudentInfo.location}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>邮箱</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="邮箱" ng-switch-when="edit" ng-value="StudentInfo.email" ng-model="StudentInfo.email">
				<p ng-switch-when="normal">{{StudentInfo.email}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>手机</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="手机" ng-switch-when="edit" ng-model="StudentInfo.phone" ng-value="StudentInfo.phone">
				<p ng-switch-when="normal">{{StudentInfo.phone}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>自我评价</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<textarea ckeditor ng-model="StudentInfo.statement" ng-switch-when="edit"></textarea>
				<p ng-switch-when="normal" ng-bind-html="StudentInfo.statement"></p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>政治信仰</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="政治信仰（可选）" ng-switch-when="edit" ng-model="StudentInfo.public" ng-value="StudentInfo.public">
				<p ng-switch-when="normal">{{StudentInfo.public}}</p>
			</div>
		</div>

		<div class="row-fluid top">
			<div class="span2 offset1">
				<p class="pull-right"><strong>详细地址</strong></p>
			</div>
			<div class="span8 offset1" ng-switch on="status">
				<input type="text" placeholder="详细地址（可选）" ng-switch-when="edit" ng-model="StudentInfo.address" ng-value="StudentInfo.address">
				<p ng-switch-when="normal">{{StudentInfo.address}}</p>
			</div>
		</div>
		
		

	</fieldset>
</form>