<div ng-controller="companyList">
	<link ng-href={{ResourceURLs.css}} rel="stylesheet">

	<div ng-include="ResourceURLs.header"></div>

	<div class="container" style="margin-top:30px;">
		<div class="row-fluid">
			<div class="span9">
				<div>
					<ul class="companyUL" >
						<li ng-class="{clear:$index % 3 == 0}" ng-repeat="company in companys">
							<h5 class="text-center">{{company.name}}</h5>
							<div>
								<div class="companyLogo nailthumb-container" nailthumb>
									<img title={{company.name}} ng-src={{company.avtor}}>
								</div>
								<div class="jobs">
									<div class="job" style="clear:both" ng-repeat="job in company.singlejob" >
										<span>{{ job.name }}</span>
										<span class="pull-right">{{ job.size }} 人</span>
									</div>
								</div>
								<div class="intro">
									<p ng-bind-html="company.statement | shortStatement"></p>
									<a ng-href={{company.href}} class="btn btn-small pull-right">更多详情</a>
								</div>
							</div>
						</li>
					</ul>
					<div style="clear:both" height=100%></div>
				</div>

				<div class="pagination pagination-centered" >
				  <ul>
				    <li ng-class="{disabled:FirstPage}"><a ng-click="PrePage()">上一页</a></li>
				    <li><a href="" ng-repeat="page in pages" ng-click="setPage($index+1)">{{page}}</a></li>
				    <li ng-class="{disabled:LastPage}"><a href="" ng-click="NextPage()">下一页</a></li>
				  </ul>
				</div>
			</div>

			<div class="span3">
				<div class="leftBar">
					<div class="text">
						<span style="font-size:46px;">订阅</span>微信账号
					</div>
					<div>
						马上扫描壹校招二维码，关注微信轻松找实习找工作
					</div>
				</div>
				<div class="wxlogo">
					<img width="242" height="242" ng-src={{ResourceURLs.wx}}>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="ResourceURLs.footer"></div>

</div>