<div ng-controller="Cpage">
	<link ng-href={{ResourceURLs.css}} rel="stylesheet">

	<div ng-include="ResourceURLs.header"></div>

	<div class="container" style="margin-top:30px;">
		<div class="row-fluid">
			<div class="span4 nailthumb-container" style="height:190px;" nailthumb>
				<img ng-src={{company.avtor}} />
			</div>

			<div class="offset1 span7">
				<h3 style="font-size:27px;">{{company.name}}</h3>
				<span class="label label-info">认证企业</span>
				<span class="label label-warning">100 人投递</span>
				<div class="info-box">
					<ul class="inline">
		        <li>{{company.kind}}</li>
		        <li>{{company.size}}</li>
		        <li>{{company.create_time}} 入驻</li>
	        </ul>
	      </div>
			</div>
		</div>

		<div class="Cdetail">
			<div>
				<h4 class="c_title">
					<em></em>
					<div>公司简介</div>
				</h4>
			</div>
			<div class="c_intro" ng-bind-html="company.statement">
				{{company.statement}}
			</div>
		</div>

		<div class="Cdetail">
			<div>
				<h4 class="c_title">
					<em></em>
					<div>招聘信息</div>
				</h4>
			</div>
			<div class="c_jobs">
				<div class="c_job" ng-repeat="job in jobs">
				  <div class="row-fluid">
				    <div class="span10">
				      <h5 style="font-size:17px;"><a ng-href={{job.href}}>{{job.name}}</a></h5>
							<ul class="inline">
				        <li>{{job.location}}</li>
				        <li>{{job.money}}</li>
				        <li>招聘 {{job.size}} 人</li>
				      </ul>
				    </div>
				    <div class="span2" style="font-size:bolder;margin:10px 0px;">
				      <p>{{job.create_time}} 发布</p>
				    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="ResourceURLs.footer"></div>
	
</div>