.Jobtitle{
	max-width: 440px;
	float: left;
	color: #fff;
	font-size: 30px;
	line-height: 38px;
	background: #428bca;
	margin: -6px 0 10px 20px;
	padding: 6px 20px;
}

.Jobtitle em{
	background: url(../img/title_arrow.png) no-repeat;
	width: 6px;
	height: 8px;
	position: absolute;
	margin: -6px 0 0 -26px;
}

.Jobtitle div {
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	margin: 0 0 10px -5px;
}

.Jobtitle p{
	font-size: 25px;
	line-height: 25px;
	font-weight: normal;
	margin-left: 10px;
}

.job_detail {
	padding-bottom: 30px;
	background: #fafafa;
	margin-top: 6px;
}

.job_detail button{
	margin: 10px;
}

.job_request{
	padding: 15px 35px;
	color: #777;
	clear:both;
}

.job_statement {
	border-top: 1px solid #e5e5e5;
	padding:10px 20px;
}

.statement_title{
	font-size: 16px;
	color: #555;
	border-left: 7px solid #428bca;
	padding: 2px 0 0 7px;
	line-height: 16px;
	margin-bottom: 20px;
}

.box{
	width:160px;
	height:160px;
	border: 2px solid #428bca;
}

.Cname{
	font-size: 13px;
	color: #555;
}

.company_top{
	margin-top: 6px;
	padding:15px;
	margin-bottom: 5px;
	background: url(../img/breakline.gif) center bottom repeat-x;
}

.company_info{
	padding:0px 13px;
}

.company_info dd{
	margin-left:15px;
	margin-top: 10px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bolder;
}