<div class="row-fluid" ng-controller="checkCompany" >
	<div class="span3">
		<div class="well well-small">
			<ul class="nav nav-list">
			  <li class="nav-header">未审核公司列表</li>
			  <li class = "unread" ng-class="{active: $index == selected}" ng-click="select(cid,$index)" ng-repeat="(cid,name) in UncheckedCList">
			  	<a href="">{{name}}</a>
			  </li>
			</ul>
		</div>
	</div>

	<div class="span9">
		<div id="top-btn">
			<button ng-click="approve()" ng-disabled="selected == -1 || empty" class="btn btn-info btn-small">通过审核</button>
			<button detail ng-disabled="selected == -1" class="btn btn-info btn-small">查看详情</button>
			<button ng-click="next()"  class="btn btn-info btn-small pull-right">下一公司</button>
		</div>
		<div>
			<div ng-show="selected == -1" class="text-center ">
				<i class="fa fa-eye text-info" style="font-size:10em"></i>
				<p style="font-size:1.6em" class="text-info"><strong>请您选择一间公司进行审阅</strong></p>
			</div>

			<div ng-show="empty" class="text-center ">
				<i class="fa fa-meh-o text-info" style="font-size:10em"></i>
				<p style="font-size:1.6em" class="text-info"><strong> {{selectedname}} 公司还没有上传相关证明</strong></p>
			</div>

			<div>
				<ul class="Picture">
					<li ng-repeat="photo in photos">
						<div class="nailthumb-container" style="width:210px;height:210px" nailthumb>
							<img ng-src={{photo.image_path}} class="img-rounded" />
						</div>
						<div>
							<p ng-show="normal[$index]" >{{photo.statement}}</p>
							<button class="btn btn-info btn-mini" showbigpicture imgsrc={{photo.image_path}}>全图效果</button>
						</div>
					</li>
				</ul>

				<div id="myModal" class="modal hide fade" ng-controller="BigPictureView" aria-hidden="true">
				    <div class="modal-body">
				      <img ng-src={{photo}} class="img-rounded" />
				  	</div>
				    <div class="modal-footer">
				      <button class="btn btn-primary" data-toggle="modal" shut shutelement="#myModal">取消</button>
				    </div>
				  </div>
			</div>



		</div>
	</div>

	<div id="Detail" class="modal hide fade" ng-controller="companyDetail" aria-hidden="true">
	    <div class="modal-body">
		  <img ng-show="loading" ng-src={{ResourceURLs.loading}} class="img-rounded" />
	      <div ng-hide="loading">
				<dl class="dl-horizontal" ng-repeat="word in ResourceURLs.words">
				  <dt>{{word.CH}}</dt>
				  <dd>{{company[word.EN]}}</dd>
				</dl>
	      </div>
	  	</div>
	    <div class="modal-footer">
	      <button class="btn btn-primary" data-toggle="modal" shut shutelement="#Detail">确定</button>
	    </div>
	</div>
</div>