
<div ng-controller="jobList" >

  <div ng-repeat="job in jobs">
    <div class="job">
      <div class="row-fluid">
      
        <div class="span9">
            <h4>{{job.name}}</h4>

            <div class="job_request">
              <ul class="inline">
                <li>{{job.location}}</li>
                <li>{{job.money}}</li>
                <li>招聘 {{job.size}} 人</li>
                <li>{{job.create_time}} 发布</li>
              </ul>
            </div>

        </div>

        <div class="span3">
          <div class="btn-group">
            <button class="btn btn-info btn-mini" ng-click="_detail(job.jid)" >删除职位</button>
            <button  makesure jid={{job.jid}} name={{job.name}} class="btn btn-danger btn-mini" data-toggle="modal">修改信息</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="pagination pagination-centered" >
    <ul>
      <li ng-class="{disabled:FirstPage}"><a ng-click="PrePage()" >上一页</a></li>
      <li><a href="" ng-repeat="page in pageView" ng-click="setPage($index+1)">{{page}}</a></li>
      <li ng-class="{disabled:LastPage}"><a href="" ng-click="NextPage()" >下一页</a></li>
    </ul>
  </div>

 
<!-- Modal -->
  <div id="myModal" class="modal hide fade" ng-controller="modelView" aria-hidden="true">
    <div class="modal-body">
      <p>您确定要删除 {{name}} 职位 吗？</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-toggle="modal" deleted >确定</button>
      <button class="btn" data-toggle="modal" shut shutelement="#myModal">取消</button>
    </div>
  </div>

</div>

