<div ng-controller="PersonalExperience" >

<div class="row-fluid title">
	<div class="span6">
		<h4>个人经历</h4>
	</div>
	<div class="span6" >
		<button class="btn btn-info pull-right" ng-click="add()" ng-show="status"><i class="fa fa-plus"></i> 添加</button>
		<button class="btn btn-info pull-right" ng-click="save(Exp)" ng-show="_save"><i class="fa fa-floppy-o"></i>保存</button>
		<button class="btn btn-info pull-right" ng-click="UpLoadChange(Exp)" ng-show="_change"><i class="fa fa-floppy-o"></i>修改</button>
	</div>
</div>

<div ng-hide="status">
	<form class="top">
		<fieldset>

			<div class="row-fluid top">
				<div class="span2">
					<p class="pull-right"><strong>经历类型</strong></p>
				</div>
				<div class="span8 offset2">
					<select ng-options="opts for opts in ResourceURLs.ExpType" ng-model="Exp.Type">
					</select>
				</div>
			</div>

			<div class="row-fluid top">
				<div class="span2">
					<p class="pull-right"><strong>开始日期</strong></p>
				</div>
				<div class="span8 offset2">
					<datepicker class="offset1" ng-model='Exp.startDate' date-format="yyyy-MM-dd" disable-timepicker='true' icon-class="fa fa-calendar"></datepicker>
				</div>
			</div>

			<div class="row-fluid top">
				<div class="span2">
					<p class="pull-right"><strong>结束日期</strong></p>
				</div>
				<div class="span8 offset2">
					<datepicker class="offset1" ng-model='Exp.endDate' date-format="yyyy-MM-dd" disable-timepicker='true' icon-class="fa fa-calendar"></datepicker>
				</div>
			</div>

			<div class="row-fluid top">
				<div class="span2">
					<p class="pull-right"><strong>经历描述</strong></p>
				</div>
				<div class="span8 offset2" >
					<textarea rows="5" class="span12" ng-model="Exp.statement"></textarea>
				</div>
			</div>



		</fieldset>
	</form>
</div>


<table class="table table-bordered top">

  <thead>
    <tr>
      <th>#</th>
      <th>开始日期</th>
      <th>结束日期</th>
      <th>经历描述</th>
      <th>类型</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="experience in experiences">
      <td>{{$index}}</td>
      <td>{{experience.startDate}}</td>
      <td>{{experience.endDate}}</td>
      <td>{{experience.statement}}</td>
      <td>{{experience.Type}}</td>
      <td>
      	<div class="btn-group">
		  <button class="btn btn-danger btn-mini" ng-click="_delete(experience.pid)">删</button>
		  <button class="btn btn-info btn-mini" ng-click="change(experience)">改</button>
		</div>
      </td>
    </tr>
  </tbody>
</table>

</div>










