<div class="container">
	<link ng-href={{ResourceURLs.css}} rel="stylesheet">

	<div ng-include="ResourceURLs.header"></div>

	<div class="row-fluid">

		<div class="span2">
			<div class="well">
				<ul class="nav nav-pills nav-stacked list">

		            <li >
		              <a href="" ng-click="setTemplate('StudentResume')" ><i class="fa fa-home"></i>   我的简历</a>
		            </li>

		            <li >
		              <a href="" ng-click="setTemplate('Studentsendhistory')" ><i class="fa fa-home"></i>   投递历史</a>
		            </li>

		            <li >
		              <a href="" ng-click="setTemplate('StudentAuth')" ><i class="fa fa-home"></i>   经历认证</a>
		            </li>

          		</ul>   
			</div>
		</div>

		<div class="span10">

			<div class="breadcrumb" id="right-top">
				<span>{{template.CHname}}</span>
				<span class="pull-right"><a href="#/index">返回首页</a></span>
			</div>

			<div ng-include="template.url"></div>
			
		</div>
	</div>
	
	<div ng-include="ResourceURLs.footer"></div>
	
</div>

