.top {

	margin-top: 20px;
}
#tips h5{
	font-size: 15px;
	font-weight: bold;
	opacity: 1;
	line-height: 20px;
}

#right-top{
	border: 1px solid #ddd;
}

#right-top a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.job {
	margin: 20px 0;
	padding: 10px;
	border-left: 3px solid #eee;
	background-color: #f4f8fa;
	border-color: #bce8f1;
}

.job h4 {
	color: #34789a;
}

.job button{
	margin-top: 25px;
}

.request{
	margin: 15px;
	margin-left: 20px;
}

#single .request{
	padding:10px;
	border-left: 3px solid #eee;
	background-color: #f4f8fa;
	border-color: #bce8f1;
}

.request i{
	margin-right: 5px;
}

.request-key{
	font-weight:bold;
	font-size: 20px;
}

.request-value{
	margin-left: 15px;
}

.request-title{
	font-weight:bold;
	font-size: 17px;
}

.create{
	margin-bottom: 15px;
	margin-left: 5px;
}

.panel {
	margin-bottom: 20px;
	border: 2px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #bce8f1;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #3a87ad;
	background-color: #d9edf7;
}

#basicInfo{
	margin:7px;
}

.experience{
	margin-bottom:10px;
}

#top-btn{
	margin:5px;
}
.experience p{
	margin-bottom: 2px;
}

.unread {
	font-weight: 900;
	font-style:italic;
	font-size:20px;
}

.tips{
	margin: auto;  
  	position: fixed;
	top: 50%;
	right: 50%;
	z-index: 99999999 !important;
  	width:200px;
  	height:30px;
}

#BigPicture{
	position: absolute;
	top:550px;
	left:100px;
}

#avtor{
	margin:10px;
	width:190px;
	height:190px;
}

.Picture{
	margin: 0;
	margin-top:20px;
	padding: 0;
	list-style: none;
}
.Picture li{
	background: #fafafa url(../img/companyBG.gif) left bottom repeat-x;
	width:210px;
	float: left;
	padding: 13px 11px;
	border: 2px solid #fff;
	border-bottom: none;
	margin: 0 10px 20px 0;
}

.job_request{
	padding: 15px 35px;
	color: #777;
	clear:both;
}




