<div ng-controller="companyInfo" class="row-fluid">

	<div class="offset1 span11">
		<form>

			<fieldset>
				<div class="row-fluid" ng-switch on="status">
					<div class="span2">
						<button class="btn btn-info pull-right" ng-click="change()" ng-switch-when="normal"><i class="fa fa-pencil-square-o"></i>修改</button>
						<button class="btn btn-info pull-right" ng-click="save(cInfo)" ng-switch-when="edit"><i class="fa fa-floppy-o"></i>保存</button>
					</div>
				</div>

				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right"><strong>公司LOGO图片</strong></p>
					</div>
					<div class="span8 offset1" >
						<div class="nailthumb-container" style="width:190px;height:190px" nailthumb>
							<img ng-src={{logo}} class="img-rounded" />
						</div>
						<div id="uploadfile" class="span4" >
						  	<input type="file" ng-file-select="onFileSelect($files)" multiple />
						  	<div class="progress">
					  			<div class="bar" style="width:{{fileCount}}"></div>
							</div>
							<p>已经完成 {{fileCount}}</p>
						  	<button class="btn btn-mini" ng-click="upload.abort()">Cancel Upload</button>
					  	</div>
					</div>
				</div>

				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right"><strong>公司名称</strong></p>
					</div>
					<div class="span8 offset1" ng-switch on="status">
						<input type="text" placeholder="姓名" ng-switch-when="edit" ng-model="cInfo.name" ng-value="cInfo.name">
						<p ng-switch-when="normal">{{cInfo.name}}</p>
					</div>
				</div>

				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right offset1"><strong>公司规模</strong></p>
					</div>
					<div class="span8 offset1" ng-switch on="status">
						<select ng-switch-when="edit" ng-options="opts for opts in ResourceURLs.companyScale" ng-model="cInfo.size" >
						</select>
						<p ng-switch-when="normal">{{cInfo.size}}</p>
					</div>
				</div>


				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right"><strong>企业类型</strong></p>
					</div>
					<div class="span8 offset1" ng-switch on="status">
						<select ng-switch-when="edit" ng-options="opts for opts in ResourceURLs.companyType" ng-model="cInfo.kind" >
						</select>
						<p ng-switch-when="normal">{{cInfo.kind}}</p>
					</div>
				</div>

				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right"><strong>企业简介</strong></p>
					</div>
					<div class="span8 offset1" ng-switch on="status">
						<div class="alert alert-info" ng-switch-when="edit">
							<p>请尽量使用本文本框提供的特别符号。否则，可能会导致系统无法正确记录您的文字</p>
						</div>
						<textarea ckeditor ng-model="cInfo.statement" ng-switch-when="edit" ></textarea>
						<p ng-switch-when="normal" ng-bind-html="cInfo.statement">{{cInfo.statement}}</p>
					</div>
				</div>

				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right"><strong>公司联系人</strong></p>
					</div>
					<div class="span8 offset1" ng-switch on="status">
						<input type="text" placeholder="公司联系人" ng-switch-when="edit" ng-model="cInfo.connectman" ng-value="cInfo.connectman">
						<p ng-switch-when="normal">{{cInfo.connectman}}</p>
					</div>
				</div>

				<div class="row-fluid top">
					<div class="span2 offset1">
						<p class="pull-right"><strong>公司联系方式</strong></p>
					</div>
					<div class="span8 offset1" ng-switch on="status">
						<input type="text" placeholder="公司联系方式" ng-switch-when="edit" ng-model="cInfo.connect" ng-value="cInfo.connect">
						<p ng-switch-when="normal">{{cInfo.connect}}</p>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</div>