<div ng-controller="companyAuth">

	<div id="uploadfile" class="span4" >
	  	<input type="file" ng-file-select="onFileSelect($files)" multiple />
	  	<div class="progress">
  			<div class="bar" style="width:{{fileCount}}"></div>
		</div>
		<p>已经完成 {{fileCount}}</p>
	  	<button class="btn btn-mini" ng-click="upload.abort()">Cancel Upload</button>
  	</div>

  	<div style="clear:both;">
		<ul class="Picture">
			<li ng-repeat="photo in photos">
				<div class="nailthumb-container" style="width:210px;height:210px" nailthumb>
					<img ng-src={{photo.image_path}} class="img-rounded" />
				</div>
				<div>
					<p ng-show="normal[$index]" >{{photo.statement}}</p>
					<textarea rows="8" ng-hide="normal[$index]" ng-model="photo.statement" ng-value="photo.statement"></textarea>
					<button class="btn btn-info btn-mini" ng-show="normal[$index]" ng-click="edit($index)">更换说明</button>
					<button class="btn btn-info btn-mini" ng-hide="normal[$index]" ng-click="save($index)">保存</button>
					<button class="btn btn-info btn-mini" showbigpicture imgsrc={{photo.image_path}}>全图效果</button>
				</div>
			</li>
		</ul>
		<div style="clear:both" height=100%></div>
	</div>

	  <div id="myModal" class="modal hide fade" ng-controller="BigPictureView" aria-hidden="true">
	    <div class="modal-body">
	      <img ng-src={{photo}} class="img-rounded" />
	  	</div>
	    <div class="modal-footer">
	      <button class="btn btn-primary" data-toggle="modal" shut shutelement="#myModal">取消</button>
	    </div>
	  </div>
</div>
