<form ng-controller="createJob" >
	<fieldset>
		<div class="create">
			<label><strong>职位名称<strong></label>
			<input class="span5"  ng-model="job.name" type="text" placeholder="用户名">
		</div>

		<div class="create">
			<label><strong>薪酬范围</strong></label>
			<select name="select" ng-options="opts for opts in ResourceURLs.money" ng-model="job.money">
			</select>
		</div>

		<div class="create">
			<label><strong>招聘人数</strong></label>
			<input class="span5" ng-model="job.size" type="text" placeholder="招聘人数">
		</div>

		<div class="create">
			<label><strong>工作地点</strong></label>
			<input class="span5" ng-model="job.location" type="text" placeholder="工作地点">
		</div>


		<div class="alert alert-info" style="margin:5px;"><strong>企业说明</strong>  推荐分为三个部分填写 ： 岗位介绍、职位要求、薪酬福利</div>
		<div class="create">
			<label><strong>企业说明</strong></label>
			<textarea ckeditor ng-model="job.statement" ></textarea>
		</div>

		<button ng-disabled="unAuth" type="submit" ng-click="createjob(job)" class="btn btn-primary">创建职位</button>
	</fieldset>
</form>