<div class="row-fluid" ng-controller="resumeList" >
	<div class="span3">
		<div class="well well-small">
			<ul class="nav nav-list">
			  <li class="nav-header">简历列表</li>
			  <li ng-class="{active: $index == selected}" close ng-click="select($index)" ng-repeat="name in List"><a ng-class="{unread: name.status == 0}" href="">{{name.sname}}</a></li>
			</ul>
		</div>
	</div>

	<div class="span9">
		<div id="top-btn">
			<button ng-click="next()" close class="btn btn-info btn-small pull-right">下一简历</button>
			<div style="clear:both" height="100%"></div>
		</div>
		<div ng-include="template.url" ></div>
	</div>
</div>