.top {
	margin-top: 20px;
}

#right-top{
	border: 1px solid #ddd;
}

#right-top a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.tips{
	margin: auto;  
  	position: fixed;
	top: 50%;
	right: 50%;
	z-index: 99999999 !important;
  	width:200px;
  	height:30px;
}

.unread {
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.Picture{
	margin: 0;
	margin-top:20px;
	padding: 0;
	list-style: none;
}
.Picture li{
	background: #fafafa url(../img/companyBG.gif) left bottom repeat-x;
	width:210px;
	float: left;
	padding: 13px 11px;
	border: 2px solid #fff;
	border-bottom: none;
	margin: 0 10px 20px 0;
}