#top-header{
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom: 57px;
	color: #666;
}

.nav{
	font-size: 13px;
	font-weight: bold;
	font-family: 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
	opacity: 1;
	line-height: 20px;
}

.nav a{
	text-decoration: none;
	color: #666;
}

.nav-tabs li a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
}

.nav-tabs li:first-child {
	margin-left: 10%;
}

.nav-tabs .active{
	background-color: #fff;
	border-top: 2px solid #292e8a;
}

#login-box{
	height: 300px;
	padding: 20px 12px;
	background-color: #f6f6f6;
	border: 2px solid #dad9d9;
	border-top: 3px solid #292e8a;
}

.input input{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.input span{
	margin-left: 10px;
	font-size: 13px;
}

.input select{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.help-block{
	font-size: 13px;
}

.action a{
	color: #000;
	font-size: 13px;
	text-decoration: none;
}

.btn{
	color: #fff;
	text-shadow: none;
	background-color: #292e8a;
	background-image: none;
	border: 0px;
}

.btn:hover, .btn:focus {
	color: #fff;
	background-color: #20246a;
}

#bottom-footer{
	margin: 30px 0px 46px 0px;
	padding: 20px 0px;
}

#bottom a{
	color: #666;
	font-size: 15px;
	opacity: 1;
	line-height: 22px;
	text-decoration: none;
}