<div ng-controller="about">
  <link ng-href={{ResourceURLs.css}} rel="stylesheet">

  <div ng-include="ResourceURLs.header"></div>

  <div class="container"  style="margin-top:30px;">
    <div class="row-fluid">
    	<div class="span12">
    		<h4 class="headline">&nbsp;壹校招简介</h4>
        <h5 class="subhead">BRIEF INTRODUCTION</h5>
    	</div>
    </div>
    <div class="row-fluid">
      <div class="span12 detail">
        <p>&nbsp;&nbsp;“第一校招网”是为校园招聘而做的网站，主要分公司页面和学生页面，学生可查询招聘信息、应聘公司岗位、投递简历等；公司可发布招聘信息、查看学生简历、筛选简历等。致力于整合校园资源、结合公司需求、并借助信息技术来推进校企合作。业务范围划定为承办企业宣讲会、企业进驻校园推广活动，将企业之活动标准化、程序化。通过与学院、学校合作来承办专场的高端招聘会等业务。</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <h4 class="headline">&nbsp;项目建设的背景</h4>
        <h5 class="subhead">BACKGROUND</h5>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 detail">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        虽然现在很多做校园招聘的网站，如全程无忧，大街网等，但是学生的应聘成功率和公司的招人成功率并不高，主要原因是招聘网站没有对学生所投递的简历进行有效的筛选就直接给到对应的公司，这样导致很多简历与应聘职位你符的情况，同时也增加了公司HR的工作难度。本网站可通过先对学生投递的简历结合公司的招聘需求先进行筛选，再给到对应的公司查阅，提高了公司的招人成功率和学生的应聘成功率。
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4 class="headline">&nbsp;项目目标群体</h4>
        <h5 class="subhead">TARGET GROUPS</h5>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 detail">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        主要针对的是大四应届毕业生、招聘的企业。
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4 class="headline">&nbsp;项目期望达到的效果</h4>
        <h5 class="subhead">EFFECT</h5>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 detail">      
        <ul>
        <li>方便应届毕业生选择求职企业</li>
        <li>微招聘企业提供深入校园的机会</li>
        <li>充分利用校园环境优势是学生、企业双方获得便捷</li>
        <li>邀请企业举办宣讲会，增加应届毕业生面试经历</li>
      </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4 class="headline">&nbsp;项目功能详细介绍</h4>
        <h5 class="subhead">FUNCTION</h5>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 detail">      
        <ul>
          <b>学生用户:</b>
        <li>查看招聘信息</li>
        <li>填写简历</li>
        <li>投递简历</li>
        <li>应聘公司岗位</li>
       </ul>
       <ul>
          <b>公司用户:</b>
        <li>发布招聘信息</li>
        <li>查看应聘学生的信息和简历</li>
        <li>筛选简历</li>
       </ul>
       <ul>
          <b>管理员:</b>
        <li>审核公司实名制信息</li>
        <li>管理用户</li>
        <li>筛选简历</li>
       </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4 class="headline">&nbsp;精品合作企业</h4>
        <h5 class="subhead">COOPERATION</h5>
      </div>
    </div>
    <div class="row-fluid detail">
      <div class="span2" ng-repeat="i in [1,2,3,4,5,6]">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4 class="headline">&nbsp;联系我们</h4>
        <h5 class="subhead">CONNECT</h5>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 detail">
        
      </div>
    </div>
      
  </div>

  <div ng-include="ResourceURLs.footer"></div>

</div>