<div ng-controller="historyRecord" >

	<table class="table table-bordered">
	 	<thead>
		    <tr>
		      <th>#</th>
		      <th>投递日期</th>
		      <th>投递公司</th>
		      <th>职位名称</th>
		      <th>简历状态</th>
		      <th>操作</th>
		    </tr>
		</thead>
	  <tbody>
	  	<tr ng-repeat="historyRecord in historyRecords" >
	  		<td>{{$index}}</td>
	  		<td>{{historyRecord.create_time}}</td>
	  		<td>{{historyRecord.cname}}</td>
	  		<td>{{historyRecord.name}}</td>
	  		<td>{{ResourceURLs.status[historyRecord.status]}}</td>
	  		<td><button class="btn btn-info btn-small" ng-click="back(historyRecord.rid)" ng-disabled="historyRecord.status == 1" >撤回</button></td>
	  	</tr>
	  </tbody>
	</table>
</div>