.top{
	margin-top: 10px;
}

.item a{
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.title{
	border-bottom: 1px dashed black;
	margin-bottom: 10px;
}

#right-top{
	border: 1px solid #ddd;
}

#right-top a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}


