<div class="container">
  <link ng-href={{ResourceURLs.css}} rel="stylesheet">

  <div class="row-fluid" id="top-header">
    <div class="span10 offset1">
      <div class="span6">
        <a href="#/index"><img class="pull-left" ng-src={{ResourceURLs.TopLogo}}></a>
        <h3 class="pull-left">|&nbsp;&nbsp;用户注册</h3>
      </div>
      <div class="span6">
        <ul class="nav nav-pills pull-right">
          <li><a href="#/index">返回首页</a></li>
          <li><a>帮助</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row-fluid" id="main-box">
    <div class="span10 offset1">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#sregister">学生注册</a></li>
        <li><a href="#cregister">企业注册</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active fade in row-fluid" id="sregister" ng-controller="StudentCtrl">
        <div class="offset3 span6">
          <form name="form" novalidate>
            <fieldset>
              <div class="input">
                <label><b>用户名</b></label>
                <input name="usr" type="text" ng-model="student.username" ng-maxlength="20" ng-minlength="2" ng-blur="CheckStudentUsername()" required>
                <span ng-show="form.usr.$error.minlength || form.usr.$error.maxlength">需要2-20字符</span>
                <span ng-show="!form.usr.$error.minlength && !form.usr.$error.maxlength">{{UsernameInfo}}</span>
              </div>

              <div class="input">
                <label><b>密&#12288;码</b></label>
                <input name="pwd" type="password" ng-model="student.password" ng-maxlength="16" ng-minlength="6" required>
                <span ng-show="form.pwd.$error.minlength || form.pwd.$error.maxlength">需要6-16字符</span>
              </div>

              <div class="input">
                <label><b>确认密码</b></label>
                <input type="password" ng-model="student.Rpassword" ng-blur="CheckPassword()">
                <span ng-show="PasswordError">密码不一致</span>
              </div>

              <button type="submit" class="btn" ng-click="StudentRegister(student)" ng-disabled="form.usr.$error.required || form.pwd.$error.required || PasswordError || UserError" style="margin-top:10px;">学生注册</button>
            </fieldset>
          </form>
        </div>
        </div>

        <div class="tab-pane fade row-fluid" id="cregister" ng-controller="CompanyCtrl">
        <div class="offset3 span6">
          <form name="form" novalidate>
            <fieldset>
              <div class="input">
                <label><b>用户名</b></label>
                <input name="usr" type="text" ng-model="company.username" ng-maxlength="20" ng-minlength="2" ng-blur="CheckCompanyUsername()" required>
                <span ng-show="form.usr.$error.minlength || form.usr.$error.maxlength">需要2-20字符</span>
                <span ng-show="!form.usr.$error.minlength && !form.usr.$error.maxlength">{{UsernameInfo}}</span>
              </div>

              <div class="input">
                <label><b>密&#12288;码</b></label>
                <input name="pwd" type="password" ng-model="company.password" ng-maxlength="16" ng-minlength="6" required>
                <span ng-show="form.pwd.$error.minlength || form.pwd.$error.maxlength">需要6-16字符</span>
              </div>

              <div class="input">
                <label><b>确认密码</b></label>
                <input type="password" ng-model="company.Rpassword" ng-blur="CheckPassword()">
                <span ng-show="PasswordError">密码不一致</span>
              </div>

              <div class="input">
                <label><b>公司名称</b></label>
                <input type="text" ng-model="company.name">
                <span class="help-block">*请输入公司全称</span>
              </div>

              <div class="input">
                <label><b>公司规模</b></label>
                <select name="select" ng-options="opts for opts in ResourceURLs.companyScale" ng-model="company.scale">
                </select>
              </div>

              <div class="input">
                <label><b>公司类型</b></label>
                <select name="select" ng-options="opts for opts in ResourceURLs.companyType" ng-model="company.type">
                </select>         
              </div>

              <div class="input">
                <label><b>公司联系人</b></label>
                <input type="text" ng-model="company.connectman">
              </div>

              <div class="input">
                <label><b>公司联系方式</b></label>
                <input type="text" ng-model="company.connect">
              </div>

              <button type="submit" class="btn" ng-click="CompanyRegister(company)" ng-disabled="form.usr.$error.required || form.pwd.$error.required || PasswordError" style="margin-top:10px;">公司注册</button>
            </fieldset>
          </form>
        </div>
        </div>
      </div> <!-- tab-content -->
    </div>
  </div> <!-- main-box -->

  <div class="row-fluid" id="bottom-footer">
    <div class="span10 offset1 text-center" id="bottom">
      <a href="#/about">关于我们</a>
      &#12288;&#12288;&#12288;
      <a href="http://ss.sysu.edu.cn/">中山大学软件学院</a>
      &#12288;&#12288;&#12288;
      <a href="http://center.sysu.edu.cn:8199/ctdt/">中山大学学生软件技术发展中心</a>
      &#12288;&#12288;&#12288;
      <a href="#/index#GoodC">合作企业</a>
    </div>
  </div>
</div>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>