<div ng-controller="Managermentfooter" >
	<link ng-href={{ResourceURLs.css}} rel="stylesheet">

	<div class="row-fluid top" id="footer">
		<div class="span8">
			<div class="row-fluid">
				<div class="span4 text-center">
					<h4>第一校招</h4>
					<ul class="list">
						<li><a href="">关于第一校招</a></li>
						<li><a href="">加入我们</a></li>
						<li><a href="">联系我们</a></li>
					</ul>
				</div>
				<div class="span4 text-center">
					<h4>合作伙伴</h4>
					<ul class="list">
						<li><a href="">中山大学就业指导中心</a></li>
						<li><a href="">中山大学软件学院</a></li>
						<li><a href="">天使风投</a></li>
					</ul>
				</div>
				<div class="span4 text-center">
					<h4>深入合作</h4>
					<ul class="list">
						<li><a href="">应用接口洽谈</a></li>
						<li><a href="">战略发展合作</a></li>
						<li><a href="">流量合作</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="span4 state">
			<p>本站前端由AngularJS bootstrap Awesome完成。后台由ThinkPHP框架完成，向开源作品以及相关贡献者表示感谢！</p>
		</div>
	</div>

</div>